{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>welcome tomy blog post - {{title}}</title>
    {% else%}
    <title>welcome to My Blog page</title>
    {% endif%}

</head>
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

<body>
    <div class="container bg-personal">
        {% with messages = get_flashed_messages(with_categories=true)  %}
        {% for category,message in messages %}
        <div class="alert alert-{{category}}">
            {{ message}}
        </div>
        {% endfor %}
       
        {%endwith%}
        {% block content%}

        {% endblock %}
    </div>
</body>

</html>